# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
public
.DS_Store
static/ajax/error_log
static/includes/error_log
static/tika-cms/_login_logs
static/tika-cms/error_log
static/tika-cms/ajax/error_log
/extracted
