//Fonts-----------------------

$basefont:'oxygen', sans-serif;
$lightfont:'oxygenlight', sans-serif;
$altfont:'heuristica', serif;

//Colours---------------------

$grey:#646464;
// $gold:#86541C;
$gold:#A06611;
// $red:#A10A1D;
$red:#B21F28;
$darkred:#820917;
$offwhite:#F8F3E4;
$blue:#0B122A;