<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js ie lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js ie ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>==title==</title>
    <meta name="description" content="==mdescr==">
    <meta name="keywords" content="==mkeyw==">
    ==ex_meta_taga==
    <meta name="author" content="==mauthor==">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/assets/css/main.css?v=1" media="screen">
    <script>document.cookie='resolution='+Math.max(screen.width,screen.height)+'; path=/';</script>
    <script src="/assets/js/libs/modernizr-2.8.3.min.js"></script>
</head>
<body class="==home== ==ss==">
    <header>
        <div class="top">
            <a href="/" class="logo">
                <img src="==root==/graphics/logo.png" data-orig-src="==root==/graphics/logo.png" data-alt-src="==root==/graphics/logo-sml.png" alt="Tika Tours logo">
            </a>
            <i class="fa fa-bars hidden-lg"></i>
            ==phone-icon==
        </div>
        ==nav-main==
    </header>
    <div class="push"></div>
    ==overlay==
    ==slideshow==
    <!-- <a href="#" data-href="#slide-19" class="btn video-link">watch fullscreen video</a> -->
    <div class="main">
        <div class="container">
            ==breadcrumbs==
            <div class="row">
                <div class="col-xs-12 text-center ==has-bc==">
                    <h1>==heading==</h1>
                </div>
            </div>
            ==sub-nav==
            <div class="content">
                ==content==
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="divider"></div>
                </div>
            </div>
            ==cat-list==
        </div>
        ==gallery-index==
        ==tour-list==
        ==reasons==
        ==map_canvas_view==
        ==social-panel==
        ==home-gallery==
        <footer>
            <div class="container-fluid">
                ==footer-nav==
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="contact">
                            <div class="row">
                                <div class="col-xs-4">phone:</div>
                                <div class="col-xs-8">==phone==</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">email:</div>
                                <div class="col-xs-8">==email==</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">address:</div>
                                <div class="col-xs-8">==address==</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 credits text-center">
	                    <img src="==root==/graphics/beyond-logo.png" alt="Beyond Limits logo" style="max-height: 100px; padding: 14px 4px">
                        <a href="/" class="hidden-xs hidden-sm">
                            <img src="==root==/graphics/motif-sml.png" alt="Tika Tours logo" style="padding-left: 30px">
                        </a>
                        <div>
                            <small>==copyright====credits==</small>
                        </div>
                    </div>
                </div>
                <div class="row hidden-md hidden-lg">
                    <div class="col-xs-12">
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    ==video==
    ==jsVars==
    ==scripts-load-top==
    <script src="/assets/js/libs/vendor.js"></script>
    <script async src="/assets/js/main.js" onload="app.init()"></script>
    ==slideshow-script==
    ==analytics==
</body>
</html>
